.header {
    text-align: center;
    height: 130px;
    padding: 30px;
}
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
.footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    padding: 50px;
    text-align: center;
}